header {
    margin: 0 auto;
    height: 100vh;
    background-image: url('../images/hand.jpg');
    background-size: cover;
    background-position: center center;
    margin-bottom: 30px;
}

.header h1 {
    color: white;
    font-weight: 300;
    text-shadow: 2px 2px 2px grey;
}

.cta-btn {
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
    margin-top: 40%;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #F42B03;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 2px 4px 5px -1px rgba(0, 0, 0, 0.75);
}

button:hover,
button:focus {
    background: #1E91D6;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Pacifico');
html,
body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-kerning: auto;
    text-rendering: optimizeLegibility;
}

a li {
    list-style: none;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {}

nav ul {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li {
    padding: 1em;
    align-self: center;
    font-size: 15px;
    color: #1E91D6;
}

#logo {
    font-family: 'Pacifico', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header h1 {
    margin-top: 0;
    font-family: 'Pacifico', sans-serif;
    font-size: 4em;
}