@import url('https://fonts.googleapis.com/css?family=Pacifico|Fredoka+One|Open+Sans|Montserrat');
.vertical-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10px;
    padding: 5px;
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.nav-options {
    align-self: flex-start;
    width: 15%;
    text-align: left;
    padding: 5px;
}

#navbar-logo {
    width: 10%;
}

a:link {
    text-decoration: none;
    color: #6a646c;
}

a:visited {
    text-decoration: none;
    color: #D3D3D3;
}

.icons {
    max-width: 100%;
    height: auto;
}

hr {
    display: block;
    width: 50%;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}