#navbar-links-container, #navbar-feedback-section-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

#navbar-feedback-section-container {
  width: 20vw;
}